h1, h2, p, .Important
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body
{
text-align: center;
background-color: #7ce557;
font-size: 28px;
}
main 
{
    text-align: left;
width: 80vw;
background-color: #a0ccda;
margin-left: auto;
margin-right: auto;
padding: 1em;
}
.profile
{
    float:left !important;
    width: 40%;
    height: auto;
    margin:0 1em 0 0;
}
.Important
{
    display: inline;
    font-style: oblique;
}

img {
    width:auto;
    height:auto;
    max-width: 80%;
    max-height:80%;
    border:20px solid #b6efd4;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
a:link
{
    color:#9cffd9;
}
a:hover
{
    color:#b6efd4;
}
a:active
{
    color:#9ce577;
}
a:visited
{
    color:#7bc950;
}