h2
{
    border-bottom: 1px solid red;
    clear:right;
}
img
{
float:right;
width:40%;
margin:1em;
}
div
{
float:left;
width:40%;
border: 1px solid black;
margin:1em;
}
footer
{
position:fixed;
top:0;
right:0;
z-index: -1;
color:darkgray;
}
.name
{
float:left;
margin:1.5rem;
}