figure
{
max-width: 650px;
margin-left: auto;
margin-right: auto;
}
figure img
{
    width: 100%;
}
header, main, footer 
{
width: 90vw;
margin-left: auto;
margin-right: auto;
}
section
{
display:flex;
flex-flow: row wrap;
}
div{
flex: 1 0 450px;
border: 1px solid black;
width:60%;
}
